html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;

}
.app__videos {
  position: relative;
  height: 1000px;
  border-radius: 20px;
  overflow: scroll;
  width: 100%;
  max-width: 550px;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* This is for Chrome, safari and opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

.frontpage {
  color: white;
  border: 1px solid white;
}